/*Navbar*/
.navbar-container {
  display: flex;
  align-items: center;
  background-color: white; 
  padding: 10px 20px;
}

.logo {
  height: 100px; 
  margin-right: 20px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  padding-top: 70px;
  flex-grow: 1;
}

.navbar h3 {
  margin: 0;
  font-family: Ubuntu, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.navbar a {
  text-decoration: none; 
  color: rgb(121, 118, 118); 
  font-size: medium;
  font-family: Ubuntu, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

}

.navbar a:hover {
  color: rgb(12, 201, 207); 
}

/*Cart*/
.cart-button{
  background-color:rgb(140,207,215) ;
  border-radius: 5px;
  border: #ddd;
  padding: 5px 20px 5px 20px;
  margin-top: 10px;
  color: rgb(121, 118, 118); 
  font-family: Ubuntu, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.cart-button:hover{
  background-color:rgb(247,189,189)
}

/*HomePage*/
.homepage-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.image1 {
  width: 30%;
  height: auto;
  margin-left: -40px;
}

.image2 {
  width: 34%;
  height: auto;
  margin-right: -110px;
}

.search-container {
  display: flex;
  align-items: center;
  width: 40%;
  position: relative;
  margin-top: -70px;
  margin-left: 20px;
  
}

.search-bar {
  width: 100%;
  padding: 10px 40px 10px 10px; 
  font-size: smaller;
  border: 1px solid #ccc;
  border-radius: 20px; 
  outline: none;
}

.search-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.search-icon {
  width: 30px;
  height: 30px;
}

/*Medicines*/

.title{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  color: rgb(121,118,118);
  font-weight: bold;
  }

  .medicines-container {
    padding: 20px;
  }
  
  .medicines-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    
  }
  
  .medicine-card {
    
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    width: 100%;
  }
  

.text{
  padding-top: 25px;
  color: rgb(121,118,118);
}
.medicine-button{
  border: none;
  background-color: white;
  border-radius: 20px;

}
.medicine-button:hover{
background-color: aliceblue;
transform: scale(1.1)
}

.image{
  height: 70%;
  width: 30%;
}

.image3{
  width: 40%;
  height: auto;
  padding-left: 90px;
  padding-top: 70px;
}
.medicine-container {
  display: flex;
  align-items: flex-start; 
}

.medicine-container .image3 {
  margin-right: 20px; 
  max-width: 40%; 
  height: auto;
}
.medicine-container > div {
  flex: 1;
  margin-top: 70px;
  margin-left: 30px; 
  font-size: small;
}
.medicine-container hr {
  width: 50%; 
  margin-left: 0; 
}

.product-container {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  max-width: 200px;
  margin-right: 100px;
}

.space{
  padding-top: 30px;
}

.button-space{
  background-color:rgb(140,207,215) ;
  border: #ddd;
  padding: 5px 37px 5px 39px
  
}

.return-notice {
  font-size: smaller;
  font-style: italic;
  color: rgb(121, 118, 118); 
  padding-top: 25px;
  font-size:xx-small
  
  
}
/*Laab-test*/

.lab-test-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 50px;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}


.lab-test-form {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}


.form-group {
  margin-bottom: 20px;
}


.form-group label {
  display: block;
  margin-bottom: 5px;
}


.form-group input {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}


.email-notice {
  font-size: smaller;
  font-style: italic;
  color: rgb(121, 118, 118); 
  margin-top: 5px;
  
}

.submit-button{
display: inline-block;
background-color:rgb(140,207,215) ;
margin-top: 40px;
border-radius: 5px;
padding: 5px 300px 5px 300px;
margin-bottom: 50px;

}

.express-image{
  display: flex;
  align-items: flex-end;
  width: 15%;
  margin-left: 860px;
  margin-bottom: -40px;

}

.info{

  max-width: 20%;
  margin-top: 70px;
  margin-left: 400px;
  display: flex;
  align-items: flex-start
 
}
/*healthcare*/
.healthcare{
  display: inline-block;
  text-align: center;
  position: relative;
  font-size: 12px;
  color: rgb(121, 118, 118); 
  margin-top: 90px;
  margin-left: 340px;
  font-style: italic;
  margin-bottom: 150px;
}

.imageH{
  height: 50%;
  width: 30%;
}

.textH{
  font-size: 12px;
  color: rgb(121, 118, 118); 
  margin-top: 15px;
}

.device-card {
  
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  width: 100%;
}

/*HealthCareDetails*/

.device-container {
  display: flex;
  align-items: flex-start; 
}

.device-container .image3 {
  margin-right: 20px; 
  max-width: 40%; 
  height: auto;
}
.device-container > div {
  flex: 1;
  margin-top: 80px;
  margin-left: 30px; 
  font-size: small;

}
.device-container hr {
  width: 50%; 
  margin-left: 0; 
}

/*cart*/

.carth5{
  color: rgb(121, 118, 118); 
  display: flex;
  align-items: left;
  padding-left: 10px;
  padding-bottom: 50px;
  padding-top: 60px
   
}

.cart-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 50px;
  color: rgb(121, 118, 118); 
  
}

.cart-table {
  width: 100%;
  table-layout:auto
  
}

.cart-table th,
.cart-table td {
  padding: 10px;
  text-align: left;
  vertical-align: middle;
  white-space: nowrap;
  
}

.cart-table th {
  font-weight: bold;
  text-decoration: underline;
}

.cart-table td {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: smaller;
  
}

.cart-table tr:not(:last-child) td {
  padding-bottom: 20px; 
}

.cart-table th,
.cart-table td {
  border-bottom: 2px solid #ddd;
  color: rgb(121, 118, 118); 
}

.cart-table tbody tr td {
  padding-bottom: 20px;
  border-bottom: none
}

.cart-table button {
  background-color:rgb(140,207,215) ;
  border-radius: 5px;
  border: #ddd;
  padding: 2px 10px;
  cursor: pointer;
  border-radius: 3px;
  font-size: smaller;
  color: rgb(121, 118, 118); 
}

.cart-table button:hover {
  background-color:rgb(247,189,189)
}

.cart-control {

  text-align: center;
  width: 35px; 
  border-radius: 0; 
  border-left: 0;
  border-right: 0;
  color: rgb(121, 118, 118); 
  font-size: smaller;
    
}

.qty-space {
 
  padding-top: 15px;
}

.cart-row {
  background-color: #f9f9f9;
  border-bottom: 2px solid #ddd;
  font-size: small;
  font-weight: lighter;
  width: 150px; 
  text-align: left;
  color: rgb(121, 118, 118); 
  
 }


/*Appointment*/

.appointment-title {
  color: rgb(121, 118, 118); 
  padding-top: 60px;
  padding-bottom: 40px;
  padding-left: 10px;
}

.appointments-container {
  overflow-x: auto; 
  white-space: nowrap; 
}

.titles-row {
  display: flex;
  padding: 10px;
  border-bottom: 2px solid #ddd;
  background-color: #f9f9f9;
  color: rgb(121, 118, 118); 
  min-width: 100%; 
  box-sizing: border-box; 
}

.appointment-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  min-width: 100%; 
  box-sizing: border-box; 
  
}

.appointment-item p {

  font-size: smaller;
  margin: 0 10px;
  width: 150px; 
  text-align: left;
  color: rgb(121, 118, 118); 
  
   
}

.titles-row h6 {
  margin: 0 10px;
  width: 150px; 
  text-align: left;
  color: rgb(121, 118, 118); 
  font-size: small;
   
}


.del-edit {
  background-color: rgb(140, 207, 215);
  border-radius: 5px;
  border: #ddd;
  padding: 5px 10px; 
  margin-top: 10px;
  margin-right: 20px;
  color: rgb(121, 118, 118); 
  font-family: Ubuntu, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.emailId{
  margin-right: 20px;
  display: inline-block
  
}
/*Search Page*/

.font-size{
  font-size: medium;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  color: rgb(121, 118, 118); 
}

.search-container1{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  position: relative;
  margin-top: 100px;
  margin-left: 470px;
  margin-bottom: 50px;
}

/*Wellness*/

.submit-buttonW{

display: inline-block;
align-items: center;
background-color:rgb(140,207,215) ;
border: #ccc;
margin-top: 70px;
margin-left: 90px;
border-radius: 5px;
padding: 5px 100px 5px 100px;
margin-bottom: 50px;
color: rgb(121, 118, 118); 

}

.submit-buttonW:hover{
  color: rgb(69, 116, 121);
  background-color:rgb(247,189,189)
  
}
.notice{
  font-size: smaller;
  font-style: italic;
  color: rgb(121, 118, 118); 
  padding-left: 30px;
  font-size:small
}

.wellness-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 70px;
  color: rgb(121, 118, 118); 
}

.first-paragraph {
  display: flex;
  align-items: flex-start;
}

.image2a {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  max-width: 40%;
  height: auto;
}

.first-paragraph p {
  flex: 1;
  margin-top: 90px;
}

p {
  font-size: smaller;
  margin-bottom: 40px;
}

h4 {
  margin-bottom: 20px;
}

/*Services Form*/

.centralize {
    display: flex;
    align-content: center;
    padding-left: 650px;
    padding-top: 70px;
    padding-bottom: 20px;
    color: rgb(121, 118, 118); 
}

.centralize1 {
  display: flex;
  align-content: center;
  padding-left: 400px;
  padding-top: 50px;
  padding-bottom: 40px;
  font-style: italic;
  font-size: 16px;
  color: rgb(121, 118, 118); 
}

.service-button {

display: inline;
align-items: center;
background-color:rgb(140,207,215) ;
border: #ccc;
margin-top: 30px;
border-radius: 5px;
padding: 5px 200px 5px 200px;
margin-bottom: 150px;
color: rgb(121, 118, 118); 

}

.service-button:hover {
  color: rgb(69, 116, 121);
  background-color:rgb(247,189,189)
}

.form-label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form-textarea {
  width: 100%;
  height: 150px;
  resize: none;
  overflow-y: scroll;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.footer {
  background-color: #f8f9fa;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #ddd;
}

.footer-section {
  flex: 1;
  padding: 10px;
}

.footer-section h6 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.1rem;
  font-weight:bold;
  color: rgb(121, 118, 118);  ;
}

.footer-section p {
  margin: 5px 0;
  font-size:x-small;
  color: rgb(121, 118, 118); 
}
/*HomePage*/
.footer-contenthome {
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
  background-color: #f1f1f1;

}

.footer-left,
.footer-right {
  flex: 1;
  font-family: Ubuntu, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: small;
  color: rgb(121, 118, 118); 
}

.footer-left {
  flex: 1;
  text-align: left;
  
}

.footer-left ul {
  list-style-type: none; 
  padding: 0;
  margin: 0; 
}

.footer-left li {
  margin: 5px 0; 
  color: rgb(121, 118, 118);
}
.footer-left li a {
  color: rgb(121, 118, 118); 
  text-decoration: none; 
}

.footer-left li a:hover {
  text-decoration: underline;
}

.footer-right {
  flex: 1;
  text-align: right;
}

.footer-right .social-media a {
  display: block;
  margin: 5px 0;
}

.footer a {
  color: #333;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.social-media a {
  margin: 0 10px;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
}

.footer-home {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

.imagehp {
  width: 6%;
  height: auto;
  
}

/*About Us*/
.newsletter-container {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  padding: 20px;
}

.newsletter-header {
  text-align: center;
  color: #2c3e50;
}

.newsletter-section {
  margin-bottom: 20px;
}

.section-title {
  color: #16a085;
  padding-top: 60px;
}

.image-container {
  text-align: center;
  margin: 20px 0;
}

.aboutus-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.faq-image {
  max-width: 40%;
  height: auto;
  border-radius: 8px;
  padding-right: 50px;
  padding-top: 90px;
  float: left;
  
}

.faq {
  padding-top: 90px;
  color:rgb(121, 118, 118);  ;
}

/*LabTest*/

.item-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr); 
  gap: 10px; 

}

.item-box {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  box-sizing: border-box;
  height: 100px;
  width: 100%;  
  max-width: 200px;
}

.item-image {
  width: 60px;
  height: auto;
  margin-right: 10px;
}

.item-text {
  flex: 1;
  font-size: 12px;
  padding-left: 5px;
  padding-top: 35px;
}

.doctor {
  margin-top: 50px;
  margin-bottom: 50px;
  color:rgb(121, 118, 118);
}
.Color{
  color:rgb(121, 118, 118);
}

.doctorl {
  margin-top: 50px;
  color:rgb(121, 118, 118);
}